.header{
	background-color: rgb(67, 172, 247);
	text-align: center;
	min-height: 40px;
	border: 3px solid rgb(7, 18, 168);
}
.path{
	background-color: rgb(245, 157, 224);
	text-align: center;
	min-height: 100px;
	border: 3px solid rgb(247, 52, 201);
}
.docktop{
	background-color: rgb(255, 245, 171);
	text-align: center;
	min-height: 100px;
	border: 3px solid rgb(235, 192, 52);
}
.wrapper1{
	overflow: hidden;
}

.wrapper1 div{
	width: 26.3%;
}

.dockleft{
	background-color: rgb(247, 198, 222);
	text-align: center;
	min-height: 700px;
	width: 27%;
	border: 3px solid red;
	float: left;
}
.wrapper2{
	overflow: hidden;
	float: left;
	min-height: 300px;
	padding-right: 20%;
}
.error{
	background-color: rgb(196, 196, 242);
	text-align: center;
	width: 28%;
	padding-right:260%;
	height: 100px;
	border: 3px solid rgb(169, 124, 247);
}
.content{
	background-color: rgb(190, 188, 212);
	text-align: center;
	padding-right:260%;
	width: 28%;
	height: 595px;
	border: 3px solid rgb(0,0,0);
}
.dockright{
	background-color: rgb(186, 245, 152);
	text-align: center;
	min-height: 700px;
	width: 27%;
	border: 3px solid rgb(3, 77, 3);
	float: right;
}
